.app-emoji-table {

  &-url {
    width 30%
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-preview {
    img {
      max-height 25px
      max-width 25px
      transition ease .3s all

      &:hover {
        $color = rgba(0, 0, 0, .5)
        filter drop-shadow(0 0 3px $color)
        transform scale(5)
      }
    }
  }
}
